# Sets
    - Unordered: items in set have no index. The items are unordered, and you cannot predict their order
    - Unchangeable: cannot change items after set has been created, can add or remove
    - Do Not allow duplicate values

In [1]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [2]:
# creating set using set() constructor
set_constr = set((2,1,4,5,3))
set_constr

{1, 2, 3, 4, 5}

In [3]:
# accessing ele
for item in my_set:
    print(item)

1
2
3
4
5

In [4]:
# check if item is in set
if 3 in my_set:
    print("yes item 3 in set")

yes item 3 in set

In [5]:
# modifing set add ans upadte 
my_set.add(6)
# adding multiple item to set
my_set.update([7,8,9])
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
# removing item from set
my_set.remove(6) # rise error if item not found 
my_set.discard(7) # dosnt rise erorr if item not found
my_set.clear() # remove all elements
my_set

set()

Can perform mathematical opertaion

In [7]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [8]:
# union 
print(a | b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
# intersection
print(a & b)

{4, 5}

In [10]:
# diffrence
print(a -b)

{1, 2, 3}

In [11]:
# Symmetric diffrence
print(a ^ b)

{1, 2, 3, 6, 7, 8}

In [12]:
# len and pop methods
print(len(a))
# cant know whc item removed, becz set are unordered
print(a.pop())
a

5
1

{2, 3, 4, 5}

In [13]:
# frozen set, once created it cannot be modified
frozen_set = frozenset([1,2,3,4])
# gives error
frozen_set.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [14]:
# set comprehension
squares = {x*x for x in range(5)}
print(squares)

{0, 1, 4, 9, 16}

In [15]:
my_list= [1,1,1,1,1,1,2,2,2,2,3,3,3,3]
my_list

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

In [18]:
new_set = set(my_list)
new_set

{1, 2, 3}