# Strings

- strings are sequences of characters.
- we use single quotes or double quotes.
- Strings are ordered sequence we can do indexing[] and slicing
- Character: h e l l o, Index: 0 1 2 3 4 , Reverse Index: -5 -4 -3 -2 -1
- Slicing [start:stop:step]

In [3]:
print("I'm doing python code")

I'm doing python code

In [4]:
print('"hiii..."')

"hiii..."

In [5]:
len("I'm doing python code")

21

In [13]:
newString = 'nithish'
print(newString[0])
print(newString[6])
# same as above, reverse indexing 
print(newString[-7])
print(newString[-1])

n
h
n
h

In [38]:
# slicing default
newString[::]

'nithish'

In [21]:
# end: upto 6th index but not including 
newString[1:6]

'ithis'

In [22]:
# step: 2
newString[0:6:2]

'nti'

In [23]:
# printing reverse
newString[::-1]

'hsihtin'

In [24]:
# reverse with step
newString[::-2]

'hitn'

In [32]:
# start at 5th postion and print upto 0th pos
newString[5:0:-1]

'sihti'

# Immutability

- cant change char in string

In [39]:
newString[0] = 'N'

TypeError: 'str' object does not support item assignment

- So, we can do by string concatenation.

In [78]:
copyString = newString[1:] 
'N' + copyString

'Nithish'

In [79]:
addString = 'Hello'
addedString = addString + ", N" + copyString
print(addedString)
# using f-string to format the string and concatenate the string with the variable copyString and addString 
print(f'{addString}, N{copyString}')

Hello, Nithish
Hello, Nithish

print multiple times

In [80]:
newString * 3

'nithishnithishnithish'

inbuilt functions of string

In [81]:
newString.capitalize()

'Nithish'

In [82]:
newString.isalpha()

True

In [83]:
newString.find("t")

2

In [84]:
# default split on whitespace
addedString.split()

['Hello,', 'Nithish']

In [85]:
# counts number of time a char present in string
addedString.count("h")

2

In [105]:
x = "A coder's Code is their Sword, and their Mind is their Shield."
x.casefold()

"a coder's code is their sword, and their mind is their shield."

In [106]:
x.endswith("N")

False

In [111]:
y = "abc\txyz"
print(y)
# default size 8 spaces
print(y.expandtabs(4))

abc	xyz
abc xyz

In [115]:
z = "9"
z.isdecimal()

True

In [126]:
# part before separator, the separator itself, and the part after the separator, gives tuple
x = "hii! 1 How are you"
x.partition("1")

('hii! ', '1', ' How are you')